@import url("components/container.css"); 
@import url("components/avatar.css"); 
@import url("components/button.css");
@import url("components/banner.css"); 
@import url("components/card.css"); 

body {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	background-color: #fff;
	color: #000;
	margin: 0px;
}
h1, h3 {
	font-family: 'Times New Roman', serif;
	font-weight: bold;
    color: #000;
    font-size: 40px;
}

.title {
    font-family: 'YourFont', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    color: #000;
    text-transform: uppercase;
    margin: 20px 0;
    position: relative;
    padding-left: 20px;
    width: 100%;
}

.title::after {
    content: '';
    display: block;
    width: calc(100% + 20px);
    height: 2.5px;
    background-color: #000;
    position: absolute;
    bottom: -2px;
    right: 0px;
    left: 0px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.title:hover::after {
    transform: scaleX(1);
}